$brand-primary: #0099cc;
$brand-language: #FFFFFF;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    overflow: hidden;
    width: 100px;
    height: 80px;
    margin: auto;
    img {
      max-width: 90%;
      margin-top: 20px;
    }
  }

}

.ajax{
  //background-color: #c9302c !important;
  i{
    float: left;
    display: block;
    width: 16px;
    height: 11px;
    background: url(image_path("ajax-loader.gif")) no-repeat;
    margin: 6px 10px 0 0;
  }
}
